.stylesCar{
    font-size: 32px;
    color: rgb(76, 88, 160);
    margin-left: 50px;
}

.stylesCar:hover{
    color: #03BECA;
}

.numCart{
    font-size: 1rem;
    font-weight: 500;
    color:rgba(91, 91, 95, 0.8)
}