.styleCounter{
    display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;
}


.styleCounterDiv{
    display: flex;
    flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
    border: 1px solid #EEEEEE;
    border-radius: 15px;
    height: 50px;
    width: 120px;
    margin-bottom: 10px;
        
}

.styleCounter span{
    margin: 25px 25px;
    color: #5B5B5F;
}

.styleCounter__botonMas{
    color: #ffff;
    font-size: 1.5rem;
    background-color: #03BECA;
    border: 2px solid #03BECA; 
    border-radius: 50%;  
    width: 30px;
    height: 30px;
    display: flex;
	justify-content: center;
    justify-items: center;
	align-items: center;
	text-align: center;
    
}


.styleCounter__botonMenos{
    color: #ffff;
    font-size: 1.5rem;
    background-color:rgb(76, 88, 160);
    border: 2px solid rgb(76, 88, 160); 
    border-radius: 50%;  
    width: 30px;
    height: 30px;
    display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    
}

.styleCounter__botonAñadir{
    color: #fff;
    font-weight: 400;
    border: 8px solid #03BECA;
    border-radius: 35px;
    background: #03BECA;
    white-space: nowrap;
    width: 8rem;
    font-size: 0.9rem;
    padding: 0 0.3rem;
}

.styleCounter__botonAñadir:hover{
    border: 8px solid #4C58A0;
    background: #4C58A0;
    color: #fff;
}

button[disabled]:active, button[disabled],
input[type="button"][disabled]:active,
input[type="button"][disabled],
input[type="submit"][disabled]:active,
input[type="submit"][disabled] ,
button[disabled]:hover,
input[type="button"][disabled]:hover,
input[type="submit"][disabled]:hover
{
  border: 2px solid rgba(3, 190, 202,0.1);
  color: #fff;
  cursor: inherit;
  background-color: rgba(3, 190, 202,0.3);;
  background: rgba(3, 190, 202,0.3);;
}